* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #cccccc;
}

.bg-index {
  height: 100vh;
  background-repeat: no-repeat;
  background: #040204;
}

.font-concert {
  font-family: 'Concert One', cursive;
}

.btn-estimate {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: white;
  color: #040204;
  border: 0.2rem dashed gray;
}

nav.navbar {
  font-family: 'PT Sans', sans-serif;
  background: #040204;
  margin-bottom: 1rem;
  z-index: 500;
}

.mg-top {
  margin-top: 4rem;
}

.pd-general {
  padding: 0.2rem;
}

.mg-card {
  margin-bottom: 0.5rem;
}

#map {
  height: 86vh;
}

@media (min-width: 992px) {
.card {
  width: 21rem;
}
}