* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background: #040204;
}

.font-concert {
  font-family: 'Concert One', cursive;
}

nav.navbar {
  font-family: 'PT Sans', sans-serif;
  background: #040204;
  margin-bottom: 1rem;
  z-index: 700;
}

.mg-top {
  margin-top: 4rem;
}

.btn-estimate {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: white;
  color: #040204;
  border: 0.2rem dashed gray;
}

@media (min-width: 992px) {

}