*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background: #040204;
}



@media (min-width: 992px) { 

  .margin-title {
    margin:2.6rem;
  }

  .btn-margin {
    margin:2rem;
  }
}